.replies_page{
	color:#777777;
	font-size: 1rem;
	line-height: 1.5rem;
}
.complain_intro_container {
    margin: 1rem auto;
    background-color: #f5f5f5;
    padding: 1rem 0;
}
.complain_intro_txt{
	padding:1rem;
	
}
.replies_form{
	background-color: #eeeeee;
    padding: 1rem;
    color: #333;
	padding-top:0px;
}
@media (max-width: 768px){
	.replies_page {
		color: #777777;
		font-size: 0.85rem;
		line-height: 1.5rem;
	}
}
/*************chat boxes*******/
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    /*overflow-y: scroll; */
    height: 100%;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.chat_item_li{
	
}
.chatheader{
	background-color: #f1d9f1;
    margin: 0.75rem auto;
    padding: 0.5rem;
}
.chatheader2 {
    background-color: #eeeeee;
    margin: 0.75rem auto;
    padding: 0.5rem;
}
.chat-img{
	border: 1px solid #eeeeee;
    border-radius: 1rem;
    margin: 0 1rem;
}
.chat_user{
	margin-right: 1rem;
}
.chat_time{
	
}
.chat_txt_container{
	background-color: #f9f9f9;
    margin: 0 0.05rem;
    border-radius: .5rem;
    padding: 0.5rem;
}
.chat_txt_msg{
	padding:1rem;
}
.chat_txt_cs{
	color: #6f2d91;
}
.user_avatar img{
	max-height: 50px;
}
.chat_txt_customer{
	
}
.chat_txt_attach{
	
}
.attach_label{
	color: white;
    margin: 0.5rem auto;
    background-color: #962071;
    font-size: 0.75rem;
    text-align: center;
    padding: 0;
}
/****new reply section***/
.chat_new_reply_box{
	background-color: #962071;
    padding: 1rem 0.5rem;
    color: white;
}
@media (min-width: 1900px){

.modal-lg {
		max-width: 1420px;
	}

}